@use 'config';

.primaryHeader {
  background-color: config.$primary-background;
  border-bottom: config.$component-border;
}

.secondaryHeader {
  border-bottom: config.$component-border;
  background-color: config.$secondary-background;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.siteName {
  font-weight: bold;
}

.links {
  list-style: none;
  display: inline-flex;
  gap: 1em;
  margin: 0;
  padding: 0;
}
